.casting-agency-main{float:left;width:25%;margin:15px 0 10px 0}  
.casting-agency-photo-block{width:48%; float:left;} 
.casting-agency-info{float:right; width:48%}
.casting-agency-photo-block img {width: 100%;border:2px solid #eaeaea;height: 80px;object-fit: cover;}
.casting-agency-info p{margin:0px;padding:0;font-size: 12px;line-height: 16px;}
.casting-agency-info h5{margin: 5px 0 2px 0;font-size: 15px;font-weight: bold;}
 
 
#rewards_main_page{padding:40px 0 10px 0}
#rewards_main_page ul li{    font-size: 24px;line-height: 64px;}
#home_page_video_new  .cb-content {    margin-bottom: 0;}
#audition_main{padding:20px 0 40px 0;}
.audition_main_list h3{font-size:24px;text-transform:uppercase;text-align:center; margin:40px 0 20px 0;}
.cat-1 a{width:19%; margin:0.5%;float:left;background:#f72e5e !important;color:#fff; line-height:100px; display:block; text-align:center;font-size:16px;}
.cat-1{margin-bottom:20px;}
.cat-1 {border-top: solid 1px #eceff0;padding: 15px  10px 0px 10px;}
#audition_main .content-block.head-div {border-top: solid 1px #eceff0;}
#audition_main .home_page_second_block {border: 0px solid #e3e3e3;}
#audition_main{background:#eaeaea}
#casting-head{background:#fff}
#casting-head{margin-bottom:20px;}
.photo-block {width:14%;margin:0 0%;padding:0 4px;float:left}
.cb-content{clear:both;overflow:hidden}
.photo-block img{width:100%;}
.home_page_second_block{margin-top:20px;}	
.middle-head{font-size:22px; margin:30px 0 0 -13px}
.photo-block {width: 14.2%;}
.casting-home-sep{padding-top:20px;}
.casting-home-sep .home_page_second_block {margin-top: 13px;}
#audition_main .casting-home-sep .content-block.head-div {border-top: solid 0px #eceff0;}
#blog{padding:0 20px} 
.top-banner{position:absolute;left:100px;top: 25%;width:45%;}
.top-banner h2{color:#fff;font-size: 44px;}
.top-banner a {background-color: #f72e5e;color: white;padding: 7px 0;border: solid 1px #f72e5e;margin-top: 10px;font-size: 13px;border-radius: 24px;font-weight: 500;display: block;text-align: center;height: 48px;line-height: 36px;width: 239px;letter-spacing: 0.1px;}
#home_page_video .b-video .v-desc {padding-top: 9px;padding-bottom:15px;    height: 65px;}
.user {width: 36px;clear: both;overflow: hidden;position: absolute;bottom: -10px;right: 3px;}
#home_page_video .v-desc a {font-size: 12px;width: 83%;display: inline-block;}
.casting-menu{width:100%;}
.casting-menu ul{list-style:none;padding:0px;text-align:center;background:#f72e5e;margin:0px;}
.casting-menu ul li{display:inline-block;text-align:center;  }
.casting-menu ul li a{letter-spacing: 0.1px; color:#fff; font-size:12px;  padding: 16px 18px 13px 18px;display:block;}
.casting-menu ul li a:hover{background:#c42047}
.v-desc p{font-size:12px;color: #f72e5e !important; margin:0px;padding:0px;}
#result-block-main .photo-block a.profile-p{width:100%;height:auto;overflow:hidden;display:block; }
#result-block-main .photo-block a.profile-p img{object-fit:cover;width:100%;height:100%}
#result-block-main .photo-block p{margin:0px;padding:0px;font-size: 12px;line-height: 16px;}
#result-block-main .photo-block h5{margin: 0px 0 2px 0;font-size: 16px;font-weight: bold;}
.info-p{background:#eaeaea;padding:10px;}




#audition_main{padding:20px 0 40px 0;}
.audition_main_list h3{font-size:24px;text-transform:uppercase;text-align:center; margin:40px 0 20px 0;}
.cat-1 a{width:19%; margin:0.5%;float:left;background:#f72e5e !important;color:#fff; line-height:100px; display:block; text-align:center;font-size:16px;}
.cat-1{margin-bottom:20px;}
.cat-1 {border-top: solid 1px #eceff0;padding: 15px  10px 0px 10px;}
#audition_main .content-block.head-div {border-top: solid 1px #eceff0;}
#audition_main .home_page_second_block {border: 0px solid #e3e3e3;}
#audition_main{background:#eaeaea}
#casting-head{background:#fff}
#casting-head{margin-bottom:20px;}
  

.casting-search{width:25%; float:right; background:#fff;padding:0px   ;}
.casting-search-result{width:74%; float:left}

.casting-cat-block a{display:block; margin-left:15px;margin-bottom:3px;}
.casting-cat-block h4{    background: #f72e5e !important;color: #fff;padding: 10px 10px 6px 10px;font-size: 16px;margin: 0 0 0px 0px;}
.casting-cat-block {margin-bottom:0px}
.multi-select-menuitem {display: block; white-space: nowrap;font-weight: normal;font-size: 12px;padding: 8px 0 0 30px;margin: 0 0 7px 0;}


#right-side-bar .production-hs1 {width: 100%;float: none;}
#right-side-bar .production-hs2 {width: 100%;float: none;}
#right-side-bar  { padding:  5px 10px 16px 10px;}
#right-side-bar h5 {color: #f72e5e !important;font-size: 14px;margin: 9px 0 7px 0;}
#right-side-bar  a.ic {display: block;width: 45px;margin: 0 10px 10px 0;height: 45px;float:left;}
#right-side-bar p{font-size:13px;margin: 0 0 5px !important;}
 
 
 
#production-house-main{ padding-top:10px;padding-bottom:20px;}
.production-hs1{width:15%; float:left;}
.production-hs1 img{width:100%}
.production-hs2{width:83%; float:right}
.production-hs2 h5{    color: #f72e5e !important; font-size:18px;margin:2px 0 15px 0;}
.production-hs2 p.prd-info{font-size:14px;margin:5px 0 8px 0}
.production-hs2 .sp1{display: flex; color: #6e6f70; margin-bottom:4px;font-size:14px;}
.production-hs2 span{     margin-right: 5px; color: #f72e5e !important; font-weight:500 }
.width-space{width:15px;}
.production-hs2  a{color:#f72e5e !important}
.production-all-display {border-bottom: 1px solid #e5e5e5;padding: 25px 10px 16px 10px;}
.production-hs1 img{border: 2px solid #eaeaea;}
 
#auditions{display:block}
#auditions p{margin: 0 0 8px;float:left;}
.width-space, .line-0{float:left;}
#auditions .width-space{margin:0 0px;height: 1px;}
.production-hs2{position:relative;}
.production-hs2 a.view-m{position: absolute;right: 0px; bottom: 7px ;background: #28b47e !important; color: #fff !important; padding: 6px 15px 4px 15px;}
.production-hs1 a{display: block;overflow: hidden;width: 115px;margin:2px auto 0;height: 115px;}
.production-hs1 img {border-radius: 500px;  object-fit: cover;width: 100%;height: 100%;}
 
.aud-de{padding:20px;}		
.aud-de h5{margin:25px 0 5px 0; padding:0px; color: #f72e5e !important;}
.aud-de img{margin:0 0 20px 0}
.aud-de a.apply-n { background: #28b47e !important;color: #fff !important; padding: 6px 42px 4px 42px;}
.casting-search .production-all-display:nth-child(even) {background: #f5f4f4;}



#casting-home-page-audition-block{clear:both; overflow:hidden;padding:10px	5px;}
#casting-home-page-audition-block .production-all-display{    width: 24%;float: left; border: 1px solid #e5e5e5;margin:0.5% 0.5%;}
#casting-home-page-audition-block .production-hs2 a.view-m {bottom: -8px;}
#casting-home-page-audition-block p {font-size: 12px;margin: 0 0 2px !important;}
#casting-home-page-audition-block .production-hs2 a.view-m {font-size: 12px;}



#view-all-auditions a{background: #28b47e !important;color: #fff !important;margin: 0;display: block;text-align: center;padding: 25px 0 22px 0;font-size: 16px; }

#casting-top-banner{position:relative;}
#casting-top-banner:before{background:rgba(0,0,0,0.5);content: "";position: absolute;height: 100%;width: 100%;display: block;top: 0;left: 0px;z-index: 16; }
#casting-top-banner .intro-banner:before{background:rgba(0,0,0,0.5) url(https://images.unsplash.com/photo-1518534200158-f7ada7dd14fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) no-repeat center; width:50%; background-size: cover;}
#casting-top-banner .intro-banner:after{width:50%; right:0px;left:auto;background:url(https://images.unsplash.com/photo-1563632123745-020b6a3a1dcf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) no-repeat center;    background-size: cover;}
#casting-top-banner .containers{z-index:20;position:relative}
#casting-top-banner .banner-headline-alt h3{width:75%;}
#casting-top-banner .banner-headline-alt p{width:65%;}
#casting-top-banner .intro-banner {overflow: hidden;    padding: 160px 0 100px 0;}

#casting-top-banner .banner-headline-alt h4{font-size:16px;text-align:center; color:#fff; }
/*   -----------------------------------------Banner casting and artist PAGE ----------------------------------------------------   */
 
.user-block.absl_main{right:0}
.it-home {animation: slideleft 5000s infinite linear;}

@keyframes slideleft {
	from {
		background-position: 0%;
	}

	to {
		background-position: 90000%;
	}
}
  
.intro-banner {padding:200px 0 100px 0;position: relative}
.intro-banner.big-padding {padding: 130px 0}
.intro-banner .container {z-index: 100;position: relative}
.intro-banner:after,
.intro-banner:before {content: "";position: absolute;height: 100%;width: 100%;display: block;top: 0;left:0px;z-index: 15;background:rgba(0,0,0,0.2);}
.intro-banner:after {z-index: 5;background-color: #fafafa}
.intro-banner .background-image-container {background-size: cover;background-repeat: no-repeat;background-position: 100% 60%;position: absolute;top: 0;left: 0;height: 100%;width: 100%;left: 0%;z-index: 10;overflow: hidden}
.intro-banner.disable-gradient:before {background: #f2f2f2;opacity: .85}
.intro-banner.disable-gradient .background-image-container {left: 0;width: 100%}
.banner-headline {display: block;max-width: 55%}
.banner-headline-alt {margin: -11px 0 0 0px;display: block}
.banner-headline-alt h3 {font-family: 'Hind Guntur', sans-serif;font-size: 48px;line-height: 49px;font-weight: 600;width: 66%;color: #fff;margin: 0 auto 10px;text-align: center;}
.banner-headline-alt p{ font-family: 'Hind Guntur', sans-serif;color: #565656;width: 42%;margin:0 auto 10px;line-height: 23px;color:#fff;  text-align:center;font-size: 15px;}
.banner-headline-alt  a {background: #f72e5e !important;border: 2px solid #f72e5e !important;color: #fff !important;margin:13px auto 0;width: 200px;padding: 13px 25px 10px 23px;display: block;text-align: center;font-size: 14px;}
.intro-banner .background-image-container {background-size: cover !important;} 


/*   -----------------------------------------Banner casting and artist PAGE END----------------------------------------------------   */
 



/*   -----------------------------------------ARTIST PAGE Start----------------------------------------------------   */

.artist-landing-page{background: # f4f3f3;}
#hire_companies button {font-size: 12px;padding-top: 3px;}
.button.button-sliding-icon i {padding: 0 0 0 5px !important;}
#hire_companies .description_heading{margin:0px;font-size: 12px; }
#hire_companies button{    margin-bottom: 0;}
#hire_companies .search_skill{margin:7px 0 3px -2px}
#hire_companies .right_block_companies{padding:50px 00px 20px 20px;float:right}
#hire_companies .right_block_companies p {color: #565656;line-height: 23px;font-size: 15px;}
#hire_companies .alerts {top: 25%;right: 4%;padding:14px 20px 20px 25px;width: 50%;}
.text-content.white-font{padding:80px 0;}
#hire_companies h2{font-size: 25.5px;line-height: 30px;font-weight: 500;margin: 13px 0px 7px 0;}
#hire_companies .username {font-size: 22px;font-weight: 500;}
.alerts{position:absolute; right:-70px;top:70%; width:390px; padding:20px; background:#fff; border-radius:5px;}
.alerts{box-shadow: 14px 12px 18px hsl(0deg 0% 45% / 16%);}
.alerts p {color: #000;font-size: 14px;padding: 0;margin: 2px 0 5px 0;line-height: 18px;font-weight: 400;}
.alerts i.fa-shopping-cart{float:left; font-size:42px;margin:5px 20px 0 0}
.alerts-text{float:left;}
.alerts-text h4{color: #6c146b !important;margin: 10px 0 0 0;}
#hire_companies .right_block_companies a {background: #f72e5e !important;border: 2px solid #f72e5e !important;color: #fff;width: 200px;padding: 13px 25px 10px 23px;margin-top: 23px;display: block;text-align: center;font-size: 16px;}
 #user-im {width: 400px;margin: 0 0 0 0;border-radius: 1000px;display: block;height:400px;object-fit:cover;}
.followers-block img {float: left;width: 40px;border: 2px solid #fff;border-radius: 100px;margin-left: -24px;}
.followers-block p {margin-left: 7px;float: left;color: #000;font-size: 12px;padding-top: 10px;}
.followers-block {width: 310px;clear: both;padding-left: 25px;display: block;overflow: hidden;margin-top: 15px;}
.followers-block a {background: #f72e5e;padding: 7px 16px 3px 14px;float: right;color: #fff;margin-top: 6px;font-size: 12px;}
.carousel-inner {overflow: revert;width: 100%;}
.right_block_companiesinside{padding:20px 30px 40px 30px;background:#fff;}
#hire_companies .col-lg-my-own-6{width:64% ;float:left;overflow:hidden}
#hire_companies .col-lg-my-own-5{width: 37%;margin-left: 0;position: absolute;right: 6px;}
.carousel-control.left {display:none; background-image: none !important;}
.carousel-control.right {  display:none;  background-image: none !important;}
.carousel-indicators {bottom: 37px;right: -19px;left: auto;}
.carousel-indicators .active {background-color: #f72e5e !important;}
.carousel-indicators li{border: 1px solid #f72e5e;}
#bl0 img{border-radius:10px;}


.block.double-gap-top.double-gap-bottom {background: url(../img/middle-banner.jpg) no-repeat 0 ; background-size:cover;}
.block {float: left;margin: 0px 0 0px 0;padding: 106px 0 89px 0;position: relative;width: 100%;z-index: 1;}
.simple-text-block {width: 100%;text-align: center;}
.section-headline h3{ font-size: 40px;font-weight: 500; margin-bottom:20px;}
.simple-text-block > h3 {  width: 75%; color: #ffffff;font-size: 40px;font-weight: 600; margin:0 auto 20px;}
.simple-text-block span {float: left;width: 100%;font-size: 15px;color: #ffffff;}
.simple-text-block a {float: none;display: inline-block;border: 2px solid;border-radius: 8px;padding: 13px 30px;font-size: 14px;margin-top: 40px;color: #ffffff;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;}
.block:before {content: "";height: 100%;opacity: 0.95;z-index: 0;position: absolute;left: 0;opacity: 0.7;top: 0;background-color: #f72e5e !important;width: 100%;}

 
#third-b2 h2 {font-size: 40px;line-height: 46px;font-weight: 600;width: 80%;}
#third-b2 p {color: #565656;line-height: 23px;font-size: 15px;}
#third-b2 a{background: #f72e5e !important;border: 2px solid #f72e5e !important;color: #fff !important;width: 200px;padding: 13px 25px 10px 23px;margin-top: 23px;display: block;text-align: center;font-size: 14px;}
 
#action-page {padding: 60px 0;}
#action-page .right_main1 {padding: 14px 30px 11px 30px; margin: 18px 0 0 0;border-color: #fff;color: #f72e5e;background: #fff;float: right; font-weight: 500;}
.simple-text-ht > h3 {float: left;width: 100%;color: #ffffff;font-size: 40px;font-weight: 600;margin: 0 0 5px 0}
.simple-text-block span {float: left;width: 100%;font-size: 16px;color: #ffffff;}
#action-page .simple-text-ht {float: left;width: 80%}

.gallery-6{    padding-top: 30px;clear:both;overflow:hidden;}
.gallery-6 img{width:19%; float:left;margin: 0 0.5% 20px 0.5%;}

/*   -----------------------------------------ARTIST PAGE END----------------------------------------------------   */

#production-home-video{width:100%;position:absolute;left:0px; z-index:99;  height:82vh;left:0px;top:0;}
.banner-video{height:82vh;position:relative;}
.banner-video .intro-banner{height:100%;}
.banner-video .intro-banner:after, .banner-video .intro-banner:before {content: "";position: absolute;height: 100%;width: 100%;display: block;top: 0;left: 0px;z-index: 99;background: rgba(0,0,0,0.5);}
.two-block-middle-section {  background: #f72e5e !important;clear: both;overflow: hidden;}
.half-left5{width:50%;float:left}
.half-right5{width:50%;float:left}
.half-left5 img{height: 80vh; width:100%;  object-fit:cover;}
.half-right5{padding:121px 52px 20px 70px;}
.half-right5 h3{width:100%;margin: 0 0 12px 0; text-align:left;float:none;}
.half-right5 span {text-align: left;    float: left;}
.half-right5 a {margin: 30px auto 0;float: left;}










