.dashboard_head {background: #fff;margin: 0 4px 15px 5px;padding:17px 20px 12px 20px}
.dashboard_head h2{font-weight: 400; color:#000; font-size:22px;margin: 0;}
.dashboard_head p {margin: 2px 0 0 0; font-size: 13px;}
#canvas-main-dashboard h2{position:relative;font-weight: 400;text-align:center;color: #000;font-size: 20px;margin: 0;}
#canvas-main-dashboard span{margin: 0px 20px 0 6px;color: #000;background: #eaeaea;width: 144px;float: right;text-align: left;font-size: 13px;padding: 7px 6px 3px 13px;line-height: 20px;position: absolute;right: -7px;top: -7px;}

#ad_camp_menu{    width: 21%;float: left;}
.my-chart-top{display:none;}
#ad_camp_menu ul {background: #FFF;padding: 26px 0 16px 25px;}
.right-all{width:79%; float:right;}
#ad_camp_menu ul{list-style:none;margin: 0px 0 0 0;}
#ad_camp_menu ul li{margin:0 0 9px 0;}
#ad_camp_menu ul li a.active{color: #f72e5e;}
#ad_camp_menu ul li a{font-size:13px;}
.cover{margin: 0 0 0 20px;width: 71.2%;float: left;}
.cover-right {width: 23.4%;float: right;margin-right: 1%;}
.noti{position:relative}
.thumbnail{width:75px;position:absolute; left: -106px;top:8px;}
.thumbnail.photo-th{width:50px}
.thumbnail.stories-th{width:78px}
#bg-00 {background: #eaeaea;}
.user-search-individual{border-bottom:1px solid #ecebe6}
.post-final h5 strong{ font-weight:500;  color: #f72e5e; }
.post-final #new-profile{width:6%;float:left}
.post-final #new-profile-details{     width: 82%;float: right;margin: 0px !important;padding: 0px !important}
.post-final h5{ color: #000;   margin-bottom: 2px; font-family: 'Hind Guntur', sans-serif; font-size:14px; margin-top: 18px; font-weight:normal;letter-spacing: 0.2px;}
.post-final p{font-size:12px;}
.post-final a.flw{float:right; margin: 29px 0 0 0; background:#28b47e !important; color:#fff;  width: 90px;text-align: center; z-index: 99; position: relative; line-height: 27px; height: 25px;}
.post-final{padding:10px 20px 20px 20px; background:#fff; margin:0 0 20px 0;}
.right-b .card{margin-bottom:10px;}
.right-b .card.widget-stat h1 {font-size: 36px;}
.right-b .p-4 {padding:10.3px !important;}
.dashboard_all {padding: 0 0px;margin-bottom: 20px;}
.dashboard_head_top .card-body{background: #f72e5e;}
.dashboard_head_top .card-body h1{color:#fff;}
.dashboard_head_top .card-body p{color:#fff;    font-size: 16px;}
.channel-details {margin-top: 0px !important;}
.container.mobile-extra_fea{display:none;}
.right-b .card.widget-stat h1 {font-size: 34px;line-height: 33px;}
.campaign-three{margin:margin:0 -10px !important;clear:both;overflow:hidden;}
.campaign-three .col-lg-4.col-sm-4{padding:0 10px;}
.my-chart{background:#fff;padding:20px;margin:0 20px 20px 20px;}
.recent-post-block{clear:both;overflow:hidden}
footer {background: #fff;}
.dashboard_head_top{clear:both;overflow:hidden}
#rewards-block{ margin:0 20px 10px 20px; clear:both; overflow:hidden}
#rewards-block h2{font-weight: 400;text-align:center;color: #000;font-size: 16px;margin: 0 0 0px 0}
#rewards-block h3{    font-size: 16px;color: #000; padding: 18px 10px 4px 0px;margin: -6px 0 8px 0;font-weight: 400;}
.rewards-block-text{float:left;width:25%; margin-right:1%;}
.card-body-graph{height:275px;padding:20px;float:left;width:73.5%; background:#fff;}
#transaction-graph{height:260px; padding:10px 0}
#rewards-block .right-b .p-4 {padding: 13.3px 16px 2px 16px !important}
#rewards-block .right-b .card.widget-stat h1 {font-size: 28px;line-height: 33px;}
#campaign-three h3{font-size: 16px;color: #000; padding: 0px 10px 4px 15px;margin: 0 0 8px 0;font-weight: 400;}
#ads-main h2{font-size: 16px;color: #000; padding: 10px 10px 4px 15px;margin: 0 0 8px 0;font-weight: 400;}
#stories-block { margin:0 20px 20px 20px; clear:both; overflow:hidden}
#stories-block h2{font-weight: 400;text-align:center;color: #000;font-size: 16px;margin: 0 0 0px 0}
#stories-block h3{font-size: 16px;color: #000; padding: 18px 10px 4px 0px;margin: -6px 0 8px 0;font-weight: 400;}
#stories-block .right-b .p-4 {padding: 12.3px 16px 3px 16px !important}
#stories-block .right-b .card.widget-stat h1 {font-size: 28px;line-height: 33px;  margin-bottom: 1px;}
#stories-block .widget-stat p {margin: 0 0 6px;text-align: center;}
#video_up_preview .form-group {margin-bottom: 7px;}

#campaign-three .col-lg-4.col-sm-4{padding:0 10px;}
#campaign-three{    clear: both;overflow: hidden;margin: 0 0 0 10px !important;}
.widget-stat p{   margin: 0 0 11px;text-align: center;}
.widget-stat h1{font-size: 41px;text-align: center;margin: 0px 0 -4px 0;}
.dashboard_all{padding:0 0px;}
#active-ads-container{margin: 0 12px 0 4px !important;padding-right: 10px;}
#canvas-data-show{width:98%; background:#fff;padding:10px 20px 0 20px;height:390px; margin: 0 14px 20px 14px; }
#canvas-two-block {clear: both;overflow: hidden;margin: 0 -5px 0 0px;}


.p-4 {padding: 1.5rem !important;}
.card {margin-bottom: 1.875rem;background-color: #fff;transition: all .5s ease-in-out;position: relative;border: 0px solid transparent;height: calc(100% - 30px);}
.media {display: flex;align-items: flex-start;}
.media-body {flex: 1;}
.table thead th {border-bottom-width: 1px;text-transform: uppercase;font-size: 12px;font-weight:600;letter-spacing: 0.5px;border-color: #f0f1f5;}
.progress {overflow: hidden;height: 8px;}
.sr-only {position: absolute;width: 1px;height: 1px;padding: 0;overflow: hidden;clip: rect(0, 0, 0, 0);white-space: nowrap;border: 0;}
.left-b09{width:50%; float:left;padding:0 10px;}
.right-b09{width:50%;float:right;padding:0 10px;}
.tab-content{margin-bottom:15px;}
.plan-option-left-panel{ background:#28b47e;}  
.left-side-pad{padding: 20px 10px 30px 20px;    background: #428bca;}
.plan-option-left-panel h4{color:#fff !important;}
.plan-option-left-panel h1{color:#fff !important;}
.plan-option-left-panel p{color:#fff !important;}
.plan-option-left-panel a.second-plan{color:#000; background:#fff;}
.widget-stat .media > span {height: 85px;width: 85px;border-radius: 50px;display:none;padding: 10px 12px;font-size: 32px;justify-content: center;align-items: center;color: #464a53;min-width: 85px;}
.bg-primary {background-color: #52b141 !important;}
.light.badge-dark {background-color: #eeeeee;color: #6e6e6e;}
.light.badge-primary {background-color: #e6f5e3;color: #52b141;}
.badge-warning {background-color: #ff6d4d;}
.badge-success {background-color: #56C7CE;}
.badge-danger {background-color: #FF3333;} 
#bar-chart-horizontal {font-size: 12px !important;}
.flaticon-381-promotion:before {content: "\f201";}
.text-white {color: #fff !important;}
.media-body {flex: 1;}
.card-header:first-child {padding:12px 20px 0 20px;}
.border-bottom {border-bottom: 1px solid #EEEEEE !important;}

.col-6{width:50%; float:left;}
.fs-20 {font-size: 16px;color: #000;padding: 10px 10px 4px 0px;margin: 0 0 8px 0;font-weight: 400;}
.card-header:first-child {border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0 0;}
.mb-4, .my-4 {margin-bottom: 1.5rem !important;}
.pb-4, .py-4 {padding:8px 20px 0 20px;}
.card-body {padding: 1.875rem;}
.name_head{border-top:1px solid gray;border-bottom:1px solid gray;}
.d-flex.align-items-center{text-align: right;}

.fs-20.text-black{font-size: 13px;color: #000;  padding: 0 1px 0px 0px;margin: 0 0 2px 0;font-weight: 400;}
.align-items-center svg{width: 64px;margin-top: -10px;}
h4.fs-18{margin: 0;}
h4.fs-18 a{font-size: 16px;font-weight: 500;line-height: 25px;display: block;}
span.fs-14.text-ov{font-size: 13px;}
.card-body.pb-0{    padding-top: 3px;}

.setting-page h4{margin:7px 0 1px 0;font-size:18px;}
.setting-page p{font-size:12px;margin:0px;padding:1px 0 7px 0;}
.container12 {display: block;position: relative;padding-left: 28px;margin-bottom: 0px;cursor: pointer;font-size: 13px;line-height: 26px;font-weight: normal;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;}
.container12 input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkmark {position: absolute;top: 0;left: 0;height: 21px;width: 21px;background-color: #eee;}
.container12:hover input ~ .checkmark {background-color: #ccc;}
.container12 input:checked ~ .checkmark {background-color: #f72e5e;}
.checkmark:after {content: "";position: absolute;display: none;}
.container12 input:checked ~ .checkmark:after {display: block;}
.container12 .checkmark:after { left: 8px; top: 5px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);}

.setting-page input{font-size:14px;}
.setting-page button{background: #f72e5e;border: 0px;margin: 20px 0 10px 0;width: 155px;color: #fff;line-height: 40px;font-size: 17px;padding: 6px 0 0 0;}
.setting-page span{color: #f72e5e;}
.plans-main{clear:both; overflow:hidden;width:98%; margin:20px auto;}
.plans-left{background:#eaeaea;width:48%;margin:0 1%;padding:20px; float:left;}
.plans-left h1{border-bottom:1px solid #000;font-size:24px;margin:0px;padding:0 0 10px 0; color:#000; text-align:center}
.u-align-left{width:31%; float:left;margin:0 1%;}
.u-container-layout{padding: 30px;}
.u-container-layout.u-valign-top.u-container-layout-4{background:#f72e5e}
.plans-main h1{font-size:36px}
.u-layout-cell-4 h1{color:#fff;}
.u-layout-cell-4 h4{color:#fff;}
.u-layout-cell-4 a.u-btn{background:#fff;border: 0px;text-align:center;margin: 10px 0 10px 0;width: 185px;display:block;color: #f72e5e;line-height: 40px;font-size: 16px;padding: 6px 0 0 0;}
a.second-plan{background:#f72e5e;border: 0px;text-align:center;margin: 10px 0 10px 0;width: 185px;display:block;color: #fff;line-height: 40px;font-size: 16px;padding: 6px 0 0 0;}
.plans-main p{font-size:13px;color:#000;padding-top:10px;line-height: 19px;}

.plans-main .half-6-6{width:48%;margin:0 1%;}
.wallet-b{width:32.3%;margin:0 0.5% 20px 0.5%; float:left;  padding:15px 20px 15px 20px;  background: #28b47e;}
.card-all{width:100%;}               
.card-body1 h3{margin:0px;font-size:26px;color: #fff;}
.card-body1 p{color: #fff;font-size:14px;}
#paypal-block{margin: 20px 0 0px 0;padding: 0 10px 5px 10px;}
#withdraw-block {margin: 15px auto 40px;border-bottom: 1px solid #eaeaea;padding: 15px 20px 10px 20px;background: #eaeaea;width: 72%;}
#bank-block {margin: 20px 0 30px 0;border-bottom: 1px solid #eaeaea;padding: 0 10px 20px 10px;}
#bank-block-details{clear:both; overflow:hidden;position:relative; margin: 0px 0 30px 0;border-bottom: 1px solid #eaeaea;border-top: 1px solid #eaeaea;padding: 20px 10px 20px 10px;}
#bank-block-details button {width: 70px;position: absolute;left: 117px;font-size: 13px;line-height: 21px;top: -28px;background: #28b47e;}
#bank-details p{font-size: 14px;margin: 0;padding: 0;line-height: 24px;width:50%;float:left;}
#bank-block-details h4{position:relative;}
#information h4{float:left;}
#information button {width: 70px; margin: 0 0 0 10px; font-size: 13px;line-height: 21px; background: #28b47e;}
#withdraw-block button{ margin: 0px 0 10px 0;line-height: 26px;padding: 8px 0 6px 0;}
#withdraw-block p{margin-top:0px;}
.btn59{clear:both;overflow:hidden;    display: block;}
table {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;}
td, th {border: 1px solid #dddddd;text-align: left;padding: 8px;}
.setting-page span.dr-am {color: #fff;background-color: rgb(39, 198, 87);padding: 3px 10px;}
.setting-page span.dr-am-red {color: #fff;background: red;padding: 3px 10px;}

#individual-post .col-lg-10.col-xs-10{width: 87%;padding: 0px 0 8px 0 !important;}
#individual-post .promote-bt{position:absolute; right:0px;top:26px;}
#individual-post .promote-bt a{background: #28b47e;color: #fff;padding:3px 14px 0px 14px}
#individual-post .user-search-individual{position:relative;}
#individual-post .pagination {display: inline-block;width:100%; text-align:center;margin:40px 0 0 0;}
#individual-post .pagination a {color: black;padding: 8px 16px;text-decoration: none;}
.my-chart{display:none;}
#canvas-main-dashboard{display:block; height:340px;    margin: 0 10px 15px 10px !important;}
#head-title{padding-right: 6px;}

.promote-option{display:none;padding: 10px 20px;}

.padding-right-my-0{padding-right:0px;margin-right: 0px !important;}


 