
.notification_main .panel-heading .row {
    padding: 1px 14px 7px 10px;
    margin-bottom: 5px;
    border-bottom: 0.1px solid #637076;
}

.notification_main .panel-heading .row .row {
    padding: 0;
    border: 0px;
}

#new-profile-details h5 {
    margin: 9px 0 0 0;
}

#notification_show {
    overflow: hidden !important;
    overflow-y: scroll !important;
    padding: 5px;
}


.mobile-menu-content {
    padding-right: 0px
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.shortname {
    background: #28b47e !important;
    border-radius: 100px;
    width: 56px;
    color: #fff;
    height: 56px;
    text-align: center;
    margin-bottom: 7px;
    line-height: 61px;
    font-weight: bold;
    font-size: 18px;
}

.menu-bottom {
    margin: 80px 0 0 0;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.menu-bottom a {
    float: left;
    margin-right: 10px;
}

.sidenav1 {
    padding: 40px 20px 20px 50px;
    clear: both;
    overflow: hidden;
}

.sidenav h2 {
    color: #f72e5e;
    font-size: 16px;
    margin: 25px 0 4px 0;
    padding: 0px;
}

.sidenav {
    box-shadow: 18px -21px 79px #a8adaf;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    background-color: #f4f3f3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 3px 8px 0px 0px;
    text-decoration: none;
    font-size: 13px;
    color: #7e7e7e;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 27px;
    right: 25px;
    font-size: 60px;
    margin-left: 50px
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.small-thumb {
    float: right
}

.mobile-menu-list > ul > li > a {
    font-size: 13px !important;
}

.small-thumb a span {
    font-size: 11px !important;
}

.small-thumb a {
    width: 70px;

    float: left;
    margin: 0 5px;
    height: 76px;
    padding: 0;
    text-align: center;
}

.menu-bottom {
    width: 91%;
}

#Sidenav11 .shortname {
    background: #28b47e !important;
    border-radius: 100px;
    width: 45px;
    color: #fff;
    height: 45px;
    text-align: center;
    margin: 0 auto 7px;
    line-height: 54px;
    font-weight: bold;
    font-size: 18px;
}

#Sidenav11 .profile-sec a {
    margin: 0 5px 0 0;
    padding: 0;
}

#Sidenav11 .profile-sec span {
    color: #7e7e7e;
    font-family: 'Hind Guntur', sans-serif;
    font-size: 12px;
}

#new-search {
    position: absolute;
    top: 28px;
    left: 47px;
    width: 80%;
}

#new-search .input-group-addon {
    background: #fff;
}

#new-search .topsearch .form-control {
    background: #fff;
}

#new-search .input-group-btn {
    background: #fff;
}

#new-search .topsearch .input-group-btn .btn {
    padding: 8px 0 4px 12px;
}

#new-search .input-group input.form-control {
    width: 84%;
}

#bottom-m3 {
    text-align: right;
    width: 100%;
    display: inline-block;
}

#bottom-m3 a {
    text-align: right;
    float: none;
    font-size: 12px;
    display: inline;
}

.pr-artist:hover {
    color: #f72e5e !important;
}

.pr-artist:hover i {
    color: #f72e5e !important;
}

.pr-act:hover {
    color: #f72e5e !important;
}

.pr-act:hover i {
    color: #f72e5e !important;
}

.follow_pop-up {
    overflow-y: hidden;
    transition: 0.5s;
    height: 0%;
    display: none;
}

#bottom-menu {
    display: none;
}

#story_block p {
    height: 13px;
    overflow: hidden;
}

#story_block p:nth-child(1) {
    display: none;
}

#story_block p:nth-child(3) {
    display: none;
}

#story_block ul.list-inline {
    padding: 0 4px;
}

#right_full .well p {
    height: 13px;
    overflow: hidden;
}

#right_full .well p:nth-child(1) {
    display: none;
}

#right_full .well p:nth-child(3) {
    display: none;
}

#right_full ul.list-inline {
    padding: 0 4px;
}

#crousal_wrap {
    width: 94%;
    float: right;
}

#crousal_wrap .owl-pagination {
    display: none;
}

#after-login-menu {
    display: none;
}

.user img {
    object-fit: cover;
}

.topsearch .form-control {
    font-size: 14px;
}

#home_page_video .user a.user_heading-title-bg {
    background: #28b47e !important;
    border-radius: 100px;
    width: 35px;
    color: #fff;
    height: 35px;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 22px;
    font-weight: bold;
    font-size: 15px;
}

#gaming .videoitem .user a .shortnamevd {
    background: #28b47e !important;
    background: #28b47e !important;
    border-radius: 100px;
    width: 35px;
    color: #fff;
    height: 35px;
    text-align: center;
    margin: 0;
    line-height: 40px;
    font-weight: bold;
    font-size: 15px;
}

#gaming .content-block .cb-content {
    margin-bottom: 9px;
}

#gaming .b-video .v-desc {
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
}


#live-video-user-list-home .users a img {
    object-fit: cover;
}

.loginsignup a {
    font-size: 12px;
}

.right-up-btn:hover img {
    opacity: 0.8;
}

.navbar-container .container .upload-button {
    width: 84px;
    height: 94px;
}

.row.home_page_eight_block .v-img img {
    width: 100%;
    object-fit: cover;
    height: 100px;
}

.owl-item .users a .shortname {
    background: #28b47e !important;
    border-radius: 100px;
    width: 56px;
    color: #fff;
    height: 56px;
    text-align: center;
    margin-bottom: 7px;
    line-height: 61px;
    font-weight: bold;
    font-size: 18px;
}

#no-ps091 {
    padding: 0px
}

#single-my .row {
    margin: 0px;
}

#live-video-user-list-home .users a small {
    height: 12px;
    overflow: hidden;
    display: block;
    margin-bottom: 8px;
}

#chat_noti a.chat-message span {
    position: absolute;
    right: -1px;
    top: -10px;
    font-size: 14px;
}

#chat_noti a.chat-message {
    text-decoration: none;
    font-size: 22px;
    position: relative;
    width: 27px;
    text-align: center;
}

#small-wd {
    width: 23%;
}

.mobile_right-menu {
    display: none;
}

@media only screen and (max-width: 767px) {
    #single-my {
        padding: 10px 0 20px 0 !important;
    }

    #other_user_profile .container {
        padding: 0 8px;
    }

    #other_user_profile .profile {
        padding: 10px 16px 20px 16px !important;
    }

    #other_user_profile .col-lg-122 {
        padding: 0 16px !important;
    }

    #other_user_profile .col-lg-122 .content-block {
        padding-top: 10px !Important;
    }

    #about-new-01 a {
        font-size: 13px
    }

    .userprofile_contetn-display #no-ps091 {
        padding: 0px 13px 20px 13px !important;
    }

    .mobile_right-menu {
        display: block !important;
    }

    .desktop_right-menu {
        display: none !important
    }

    #chat_noti a.chat-message {
        margin: -4px 0px 0 4px;
    }

    .mobile-menu {
        max-width: 100%;
    }

    .mobile-menu-list > ul > li {
        margin: 0 0 4px 0;
        padding-left: 0px;
        border: 0px;
    }

    #home_page_video .user a.user_img {
        margin: 0 10px 7px 0;
    }

    #mb-09898 {
        padding: 0px;
    }

    #live-video-user-list-home {
        padding-bottom: 0px;
    }

    #live-video-user-list-home .users a img {
        margin-bottom: 4px;
    }

    .owl-item .users a .shortname {
        margin-bottom: 4px;
    }

    #live-video-user-list-home .users a small {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 81%;
        margin: 0 auto;
    }

    #chat_noti {
        margin-right: -5px;
    }

    #live-video-user-list-home .col-lg-12 {
        padding: 0px;
    }

    #full-width-mobile .col-lg-2.col-sm-2.col-xs-4 {
        width: 100% !important;
        padding: 0 !important;
        margin: 21px 0 0 0 !important;
    }

    #no-ps091 {
        padding: 0px
    }

    .follow_pop-up {
        display: block;
    }

    #search-close-bn {
        position: absolute;
        color: #7e7e7e;
        right: 20px;
        top: 6px;
    }

    #mobile-register-and-login {
        position: absolute;
        right: 10px;
        top: 0px;
    }

    #mobile-register-and-login a {
        margin-right: 3px;
        margin-top: -2px;
        font-size: 12px;
        background: #f72e5e !important;
        border-radius: 0px;
        padding: 2px 11px 0 11px;
        color: #fff;
    }

    .loginsignup {
        text-align: right;
        margin-top: 26px;
    }

    #mobile-register-and-login span {
        display: none;
    }

    #home_page_video .user a.user_heading-title-bg {
        width: 30px;
        height: 30px;
        margin: 0 10px 10px 0;
        line-height: 21.5px;
        font-size: 12px;
    }

    .shortname {
        background: lightblue;
        border-radius: 100px;
        width: 24px;
        height: 24px;
        text-align: center;
        margin: -1px auto 6px;
        line-height: 30px;
        font-size: 13px;
    }

    #spacer_blanl-mb {
        height: 46px
    }

    #after-login-menu {
        display: block;
    }

    .channel-details {
        display: none
    }

    .channel.light .c-avatar a img {
        width: 67px !important;
        height: 67px !important;
        border-radius: 100px;
        object-fit: cover;
        margin-top: 0px !important;
    }

    .channel.light .c-avatar {
        width: 77px !important;
        height: 77px !important;
        float: left;
    }

    .cb-content.videolist .videoitem {
        min-height: 100px;
        width: 50% !Important;
        padding: 0 2px 0 2px !Important;
        float: left;
    }

    .cb-content.videolist .v-desc a {
        font-size: 13px;
    }

    .channel.light .c-name {
        float: right;
        width: 75% !Important;
        text-align: left !Important;
    }

    .channel.light #profile_social a {
        text-align: center !Important;
    }

    .channel.light .btn-group.dropup.pull-right {
        display: none;
    }

    .col-xs-12.col-sm-6.emphasis {
        float: left;
        width: 50%;
    }

    .col-xs-12.col-sm-4.emphasis {
        float: left;
        width: 50%;
    }

    .well.profile .col-xs-12.col-sm-8 p {
        font-size: 13px;
    }

    #profile_social .tw {
        padding-left: 1px;
    }

    #profile_social .gp {
        padding-left: 2px;
    }

    .topsearch .input-group-addon i {
        padding-top: 5px;
        padding-left: -2px;
    }

    .promote_your_video1 {
        font-size: 13px;
    }

    .channel.light .well.no-mar1 {
        width: 50% !important;
        float: left !important;
        padding: 0 4px;
        margin: 0 auto 10px !important;
        display: block;
    }

    .channel.light .well.no-mar1 .stories-head {
        display: none;
    }

    .channel.light .well.no-mar1 .main-ban img {
        width: 100%;
        object-fit: cover;
        height: 111px;
    }

    .channel.light .well.no-mar1 .main-ban {
        height: 111px;
    }

    .channel.light .well.no-mar1 .media {
        margin-top: 0;
    }

    .channel.light .well.no-mar1 .media {
        padding: 10px 2px 5px 3px;
    }

    .channel.light .well.no-mar1 .media p {
        height: 20px;
        overflow: hidden;
        margin: 0 0 1px;
    }

    .channel.light .well.no-mar1 .media p:nth-child(1) {
        display: none
    }

    .channel.light .well.no-mar1 .media p:nth-child(3) {
        display: none
    }

    #story_block {
        padding: 0 8px;
    }

    .home_page_first_block .b-video .v-desc {
        height: 29px;
        overflow: hidden;
    }

    #live-video-user-list-home .users strong {
        padding-top: 15px;
    }

    #live-video-user-list-home .users a img {
        height: 50px;
        width: 50px;
    }

    #live-video-user-list-home .users a img {
        border: solid 1.6px #f72e5e;
    }

    .owl-item .users a .shortname {
        width: 50px;
        height: 50px;
    }

    #live-video-user-list-home .users strong {
        height: 50px;
        width: 50px;
    }

    .mnuy8 #crousal_wrap {
        width: 82% !Important;
        float: left !Important;
    }

    .mnuy8 .reward-all-dis h4 {
        font-size: 9px;
    }

    #crousal_wrap {
        width: 80% !Important;
        float: left !Important;
    }

    #home_page_photos .span12 {
        width: 100% !Important;
        float: left !Important;
    }

    #live-video-user-list-home .users {
        width: 55px
    }

    #live-video-user-list-home .owl-carousel .owl-item {
        width: 55px !important;
    }

    #only-desktop {
        width: 17% !important;
        float: left Important;
        margin: 0px 0 0 2% !Important;
    }

    .mobile-extra_fea {
        padding: 0px 2px;
        overflow: hidden;
    }

    #live-video-user-list-home .col-lg-12 {
        width: 100%;
        padding: 0px;
        clear: both;
        overflow: hidden;
    }

    #live-video-user-list-home .users strong {
        font-size: 10px;
        margin: 0px auto !important;
    }

    #live-video-user-list-home .content-block .cb-header {
        padding: 11px 0 7px 0;
    }

    #live-video-user-list-home .users strong {
        font-size: 10px;
    }

    #live-video-user-list-home .users {
        padding-right: 1px;
    }

    #live-video-user-list-home {
        margin-right: -9px;
    }

    #live-video-user-list-home .users span {
        top: 39px;
        right: 9px;
    }

    #live-video-user-list-home .users {
        margin-left: 0px
    }

    #live-video-user-list-home #n12 {
        width: 16%;
        margin-right: 0px;
        margin-left: 10px;
    }

    #live-video-user-list-home .users a {
        height: 70px;
        overflow: hidden;
    }

    .navbar-container2 .h-resume {
        padding-top: 9px;
    }

    .navbar-container2 {
        padding-bottom: 6px !important;
    }

    .navbar-container2 .h-resume {
        padding-left: 35px;
    }

    #logo {
        padding-left: 0 !important;
        margin-top: -5px;
    }

    #logo .logo {
        width: 97% !important;
        margin-top: -1px !important;
    }

    .navbar-container2 .h-resume .play-icon {
        position: absolute;
        font-size: 18px;
        left: 15px;
        top: 7px;
    }

    .h-resume a {
        font-size: 12px;
    }

    .navbar-container {
        height: 50px;
        min-height: 50px;
    }

    #bottom-menu {
        position: fixed;
        bottom: 0px;
        display: block;
        width: 100%;
        background: #fff;
        border-top: 1px solid #dedede;
        clear: both;
        z-index: 999999;
        overflow: hidden;
    }

    #bottom-menu a {
        padding: 10px 0 6px 0;
        font-size: 20px;
        width: 16.5%;
        float: left;
        display: block;
        text-align: center;
        border-right: 0px solid #dedede
    }

    .sv-video.right_big_video {
        width: 100% !important;
    }

    .icon_small {
        display: none;
    }

    .sv-video video {
        height: auto !important;
    }

    .single-video h1 {
        font-size: 16px !important;
    }

    .single-video .content-wrapper {
        padding-top: 15px !important;
    }

    .mobile-menu-content {
        padding-top: 0px;
    }

    .mobile-menu-user {
        display: none;
    }

    .mobile-menu-list {
        padding-bottom: 0;
        margin-top: 5px;
    }

    .mobile-menu-head {
        height: 51px;
        min-height: 51px;
        display: block;
    }

    .mobile-menu-close {
        width: 14px;
        height: 14px;
        float: right;
        margin: 9px 0 0 0;
    }

    .mobile-menu .navbar-brand {
        width: 191px;
        display: block;
        margin: -5px 0 0 -5px;
        float: left;
        height: 43px;
    }

    #bottom-menu a span {
        displaY: block;
        font-size: 11px;
        margin: -4px 0 0 0;
    }

    #bottom-menu {
        height: 55px;
    }

    #reward_1 .cb-header .col-lg-10.col-sm-10.col-xs-8 {
        width: 100%
    }

    #reward_1 .cb-header .col-lg-10.col-sm-10.col-xs-8 .list-inline li:nth-child(1) {
        display: none;
    }

    #reward_1 .cb-header .col-lg-10.col-sm-10.col-xs-8 .list-inline li:nth-child(2) {
        display: none;
    }

    #reward_1 .videolist .videoitem .b-video .v-desc {
        height: 31px;
        overflow: hidden
    }

    #chat_noti a {
        font-size: 18px;
    }

    #after-login-menu {
        position: absolute;
        right: 6px;
        top: 26px;
        border: 0px;
        margin: 0px 0 0 2px !important;
        z-index: 9999;
        float: right;
        width: 19px;
        font-size: 17px;
        color: #f72e5e;
    }

    #search_mob {
        margin-right: 28px;
    }

    #chat_noti a {
        margin-right: 0px;
    }

    #chat_noti {
        width: 39%;
    }

    #trophy_ne1 {
        display: none !Important;
    }

    #rewards-mobile {
        display: block !Important;
    }

    #chat_noti a span {
        right: 1px;
        top: -11px;
        font-size: 14px;
    }

    .acide-panel.acide-panel-top {
        padding-top: 12px;
        margin-bottom: 10px;
    }

    .single-video .custom-tabs .tabs-panel > a,
    .single-video .custom-tabs .tabs-panel > .acide-panel {
        height: 20px;
        padding-top: 3px;
    }

    .single-video .custom-tabs .tabs-panel a i {
        font-size: 15px;
    }

    .acide-panel.acide-panel-top a i {
        font-size: 15px;
    }

    #mbl-fix1 {
        position: fixed;
        top: 0px;
        z-index: 99;
        background: #fff;
        width: 100%;
        left: 0;
    }

    .content-block .cb-content {
        margin-bottom: 0px;
    }
}

#live-video-user-list-home .users a small {
    font-size: 9px;
}

.notification_main .panel-heading {
    padding: 10px 10px 10px 10px;
}

.uploaded_process {
    width: 37%;
    left: 2%;
    padding: 15px;
    bottom: 25px;
    background: #28b47e !important;
    z-index: 999999;
    position: fixed;
}

.uploaded_process img {
    width: 150px;
    float: left;
    margin-right: 15px;
}

.uploaded_process h2 {
    margin: 0px;
    padding: 4px 0 0 0;
    font-size: 14px;
    color: #fff;
}

.uploaded_process p {
    margin: 0px;
    padding: 2px 0 0 0;
    font-size: 12px;
    color: #fff;
}

.uploaded_process a.cross_btn_uploaded {
    color: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
}

.uploaded_process a.complete-pr {
    background: #fff;
    width: 125px;
    line-height: 24px;
    display: block;
    text-align: Center;
    color: #000 !important;
    float: left;
    padding: 3px 0 0 0;
    font-size: 12px;
    margin: 5px 10px 0 0;
}

#chat_show {
    display: none;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    right: -5px;
    top: 35px;
    width: 350px;
    height: auto;
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

#chat_show a {
    border-radius: none;
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    font-size: 14px !important;
    text-align: left !important;
    line-height: 1.42857143;
    color: #333;
    width: 97% !important;
    height: auto !important;
    white-space: nowrap;
}

#chat_show .notification_main_img1 {
    padding: 0px !important;
    padding: 10px;
    white-space: initial;
    margin-bottom: 5px;
}

#chat_show a.notification_main_img1 img {
    float: left;
    width: 13% !important;
    padding: 0px !important
}

#chat_show .media-body_notifcation a {
    padding: 0px !important
}

#chat_show p {
    color: #000 !important;
    font-size: 12px;
    line-height: 15px;
    margin: 0
}

#chat_show h4 {
    font-size: 14px;
}

.clear {
    clear: both;
    overflow: hidden
}

#chat_show a.notification_main_img1:hover {
    background-color: #f5f5f5;
    border-radius: 0px !Important
}

#chat_show a.notification_main_img1 {
    padding: 7px 10px 10px 10px !important
}

#chat_show a img {
    height: 39px;
    border-radius: 100px;
    object-fit: cover;
}

.media-body_notifcation1 {
    width: 84%;
    float: right;
}

.all-s {
    display: none
}
.incomplete_process {
    width: 25%;
    left: 1%;
    padding: 15px 23px;
    bottom: 25px;
    background: #f72e5e !important;
    z-index: 999999;
    position: fixed;
}

.incomplete_process h2 {
    margin: 0px;
    padding: 4px 0 0 0;
    font-size: 14px;
    color: #fff;
}

.incomplete_process a.cross_btn_uploaded {
    color: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
}

.incomplete_process a.complete-pr {
    background: #fff;
    width: 125px;
    line-height: 24px;
    display: block;
    text-align: Center;
    color: #000 !important;
    float: left;
    padding: 3px 0 0 0;
    font-size: 12px;
    margin: 5px 10px 0 0;
}

.incomplete_process p {
    margin: 0px;
    padding: 2px 0 0 0;
    font-size: 12px;
    color: #fff;
}

