/*  Story  start*/

.story_left h2{font-size:17px;font-weight:bold;}
.story_left h3{font-size:16px;font-weight:bold}
.story_left h4{font-size:15px;}
.story_left h5{font-size:14px;}
.story_left h6{font-size:13px;}
#right_full .media h2{font-size:14px;font-weight:bold;margin: 10px 0;}
#right_full .media h3{font-size:12px;font-weight:500;margin: 10px 0;}
#right_full .media h4{font-size:13px;}
#right_full .media h5{font-size:12px;}
#right_full .media h6{font-size:12px;}


#story_block .media h2{font-size:14px;font-weight:bold;margin: 10px 0;}
#story_block .media h3{font-size:12px;font-weight:500;margin: 10px 0;}
#story_block .media h4{font-size:13px;}
#story_block .media h5{font-size:12px;}
#story_block .media h6{font-size:12px;}


#story_block .media p:nth-child(2){display:block;}
#story_block .media p{display:none;}
#story_block .media h3{display:none;}
#story_block .media h4{display:none;}
#story_block .media h2{display:none;}
#story_block .media h6{display:none;}
#story_block .media h5{display:none;}
#story_block .media blockquote{display:none;}



.main-ban{position:relative}
.media{padding:2px 8px 5px 12px}
#right_full .well {margin-bottom:10px}
#right_full .well  p{font-size:12px;}
#story_block_main{clear:both; overflow:hidden; margin-bottom:20px;}
#right_full .well .list-inline>li{font-size:11px}
.story_details{font-size:14px;}
#story_block_main .reply-comment .rc-comment {float: left;position: relative;width: 655px;}
#story_block_main  .comments{margin-top:50px}
#story_block_main  .author .sv-name {width: 390px;}
.author{margin: 26px 6px 0;width: 100%;}

#right_full h4.media-heading {font-size: 14px;font-weight: 500;color: #fff !important;}



h5.media-heading {font-size: 14px;font-weight: 500;color: #fff !important;margin: 5px 0 3px 1px}
#full_detials h5.media-heading {   font-size: 18px;font-weight: 500;color: #f72e5e !important;margin: 5px 0 23px 1px;}
.share_through{padding-left:10px;}
.share_through h2{    margin: 20px 0 3px 0;padding: 0;font-weight: 500;font-size: 16px;}
.list-inline>li {display: inline-block;padding-left: 2px;padding-right: 2px}
h4.media-heading {margin-top: 6px;margin-bottom: 1px;font-size: 16px;}
.story_left {width: 71%;position: relative;padding: 0px 7px 1px 7px;margin:0 0%;float: left;}
#right_full{width: 27.3%; position: relative;padding: 0px 3.5px 1px 3.5px;margin: -7px 0.45% 0.45%;float: left;}
 #right_full ul.list-inline li span i {
    font-size: 16px;
    margin-left: 5px;
}

#story_block_main .well{width:100%; float:none}

h5.media-heading{   font-size: 11px;
    font-weight: 300;
    margin: 5px 0 4px 1px;}
.well.no-mar2, .well.no-mar1{margin-top:0px;margin-bottom:10px}
 
 
#story_block{margin:0 0 20px 0; clear:both; overflow:hidden}
.well{width: 24.2%;background: #fff;position: relative;padding: 0 0 1px 0px;margin:  0 0.4% 10px 0.4%;float: left;}
#story_block p{font-size:12px;    margin: 0 0 4px 0;}
.social_icons12{position:absolute; right:20px;top:15px;}
#story_block ul.list-inline {  text-align:left;}
#story_block ul.list-inline li{font-size:10.80px; text-align:right;}
#story_block ul.list-inline li span i{font-size:18px; margin-left:5px;}
#story_block ul.list-inline li { padding-left: 1px;padding-right: 1px;}
#story_block ul.list-inline-block li a{color:#f72e5e !important}
#story_block h4{color:#fff;       margin-top: 1px;  font-weight: normal; font-size:14px; font-weight:normal; }
.story_img img{width:100%;}
.story_img {width:35px;margin: 0 5px 0 0;}
.media-object{    border-radius: 105px;}




#story_vide .b-video{background:#f72e5e; margin-bottom:25px; border-radius:0 0 10px 10px}
#story_vide .v-desc a{color:#fff; display: block;    font-size: 12px;line-height: 17px;}
#story_vide .v-desc a:hover{color:#fff !important}
#story_vide .v-desc{ padding:10px 10px}
#story_vide .v-views{ padding:0 10px 10px 10px; font-size:12px;color:#fff}
#story_vide  .v-percent{  color:#fff}


#story_container{padding:0} 
#right_full ul.list-inline li { text-align: right;}
#right_full ul.list-inline li {padding-left: 1px;padding-right: 1px;}
#right_full ul.list-inline {text-align: left;}
#right_full p {font-size: 14px;margin: 0 0 4px 0;}
#right_full ul.list-inline li a {color: #f72e5e !important;}



/*  Story  End*/



